/**************************************************
 * 파일명		: custom1.css
 * 사용화면 	: aplcntForm.jsp, aplcntList.jsp에 사용
 * 사용목적 	: 테이블 가독성 커스터마이징, 테이블 안에 select를 테이블과 동일한 크기로 변경
 * ************************************************
 * 일시			작성자			내용
 * ************************************************
 * 2016.06.15	김상우			최초 작성
 * ************************************************
 **************************************************/
select {
	border: 0px; 
	width: 100%;
	padding-left: 5px;
	height: 100%;
}
input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="date"], input[type="month"] { 
	padding: 0 0 0 5px; 
	border: 0px; 
	width: 100%; 
	height: 100%; 
}
input[type="date"]::-webkit-inner-spin-button, input[type="month"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
/* 	height: 100%; /* 값 조절 버튼 크기 */
}
input[type="date"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-calendar-picker-indicator {
	font-size: 27px /* 우측 역삼각형 크기 */
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	/* 값 조절 버튼 표시 여부 */
	/* -webkit-appearance: none; */ 
	height:40px;
}
.dropdown-date-y {
	border-right: 1px solid #ccc;
	width: 70px;
}
.dropdown-date-m, .dropdown-date-d, #itvwTimeH, #itvwTimeM {
	width: 56px;
	border-right: 1px solid #ccc;
}
td.td-height1 {
	height: 85px;
}

/* 지원자 목록 화면의 dataTable 가독성을 위해 ccs를 별도로 설정함 */
div.dataTables_scrollHeadInner table th {
	text-align: center;
	font-size: 12px;
	padding: 5px 15px 5px 5px;
}
div.dataTables_scrollBody table th {
	padding-left: 15px;
	padding-right: 5px;
}
div.dataTables_scrollBody table td {
	text-align: center;
	font-size: 12px;
	padding: 8px 5px 8px 5px;
/*     vertical-align: middle; */
/*     line-height: 1.82857143; */
}
