/**************************************************
  * source		: qooCommon.css
 * description	: 공통 CSS
 * ************************************************
 * date			author		desc
 * ************************************************
 * 2016.07.18	ksw			최초
 * ************************************************/

/**************************************************
 * 1. dataTable select시 수동으로 style 지정한 경우 select 색상이 적용 안되어서
 *  - Select/css/select.dataTables.min.css의
 *  table.dataTable tbody>tr>.selected{background-color:#B0BED9}에 !important 추가함
 * 2.
 **************************************************/

/**************************************************
 * 기본 CSS
 **************************************************/
/* disabled시 배경색 지정 */
/* select는 부트스트랩 기본 css때문에 색적용이 안되어서 아래코드 추가함(class에 form-control 지정시 별개 css가 적용되나 height변경되서 사용안함) */
:disabled {
	background-color: #EBEBE4 !important;
	cursor: not-allowed !important;
}
/* invalid(required 포함) 시 배경색 지정 */
.table-fill :invalid {
	background-color: lemonchiffon;
}

/* div로 공백 조절 */
div .div-space-h5 {
	height: 5px;
}
div .div-padding-custom {
	padding: 10px 15px 10px 10px;
} 

/* 데이터 조회시 로더 표시 css
 * 로딩이 걸리는 모든 화면의 로딩 사용 */
#loader {
	/* 로더 디자인 출처:w3schools*/
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #008CD6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    /* 로더를 위치한 div 정중앙으로 정렬 */
	position: absolute;
	z-index: 10001;
	top: 45%;
	left: 50%;
	display: none;
}

#mask {
	  position:absolute;  
	  left:0;
	  top:0;
	  z-index:100;  
	  background-color:#000;  
	  display:none;  
	}

/* 데이터 조회시 로더 표시 css */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**************************************************
 *  조회조건 테이블 CSS
 **************************************************/
/* 부트스트랩 버튼 btn-sm과 크기 맞춰주는 CSS */
.table-search {
	border-collapse: collapse;
    text-align: left;
    line-height: 1;
	width: 100%;
	height: 100%;
}
.table-search th {
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    background: #F9F9F9;
    border: 1px solid #ccc;
    height: 29px;	/* btn-sm 보다 1작게 설정해야 같아짐 */
    color: #333;
    font-size: 12px;
}
.table-search td {
    padding: 0px 0px 0px 0px;
    border: 1px solid #ccc;
    font-size: 12px;
    height: 29px;	/* btn-sm 보다 1작게 설정해야 같아짐 */
}

/* table안에서 내용이 길어지면 개행되지 않고 ...으로 표시 */
.td-ellipsis {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**************************************************
 *  상세정보 테이블 CSS
 **************************************************/
.table-detail {
	border-collapse: collapse;
    text-align: left;
    line-height: 1;
	width: 100%;
	height: 100%;
}
.table-detail th {
    padding: 5px 5px 5px 10px;
    text-align: left;
    vertical-align: middle;
    background: #F9F9F9;
    border: 1px solid #ccc;
    height: 29px;	/* btn-sm 보다 1작게 설정해야 같아짐 */
    color: #333;
    font-size: 12px;
}
.table-detail td {
    padding: 0px 0px 0px 0px;
    border: 1px solid #ccc;
    font-size: 12px;
    height: 29px;	/* btn-sm 보다 1작게 설정해야 같아짐 */
}


/**************************************************
 *  테이블 기본 CSS
 **************************************************/
table.table-common {
	margin: 0 !important;
    border-collapse: collapse;
    text-align: left;
    line-height: 1;
	width: 100%;
	height: 100%;
}
table.table-common th {
    padding: 5px 5px 5px 10px;
    vertical-align: middle;
    background: #F9F9F9;
    border: 1px solid #ccc;
	line-height: 1.82857143;
    color: #333;
    font-size: 12px;
}
table.table-common td {
    padding: 0;
    vertical-align: top;
    border: 1px solid #ccc;
    font-size: 12px;
    height: 29px;	/* btn-sm 보다 1작게 설정해야 같아짐 */
}
table.table-common textarea {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 5px;
	border: 0;
	resize: none;
}

/**************************************************
 *  테이블 안에 입력 태그 CSS
 **************************************************/
/* table의 th, td안에서 input element의 크기가 가득차게 설정 : ST */
.table-fill input[type="text"]
, .table-fill input[type="password"]
, .table-fill input[type="number"]
, .table-fill input[type="tel"]
, .table-fill input[type="email"]
, .table-fill input[type="date"]
, .table-fill input[type="month"] {
	margin: 0;
	padding: 0 0 0 5px; 
	border: 0px; 
	width: 100%; 
	height: 100%; /* td안에 element의 height를 100%를 적용하려면 감싸는 element의 height가 지정되어있어야함(100%는 안되는듯..) */
}
.table-fill input[type="date"]::-webkit-inner-spin-button, input[type="month"]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* 조절 버튼 표시안함 */
/* 	height: 100%; */ /* 값 조절 버튼 크기 */
}
.table-fill input[type="date"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-calendar-picker-indicator {
	font-size: 27px /* 우측 역삼각형 크기 */
}

.table-fill input[type=number]::-webkit-inner-spin-button {
/* 	-webkit-appearance: none; */
	height:30px;
}

.table-fill select {
	border: 0px; 
	width: 100%;
	padding-left: 5px;
	height: 100%;
}
/* table의 th, td안에서 input element의 크기가 가득차게 설정 : ED */

/**************************************************
 *  dataTable CSS
 **************************************************/
/* dataTables에서 글씨 크기 조정 */
.dataTables_wrapper {
	font-size : 12px;
}