<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lbrcrt.mapper.aplcntFormMapper">

	<!-- 지원자 등록 -->
	<insert id="insertAplcntForm" parameterType="hashmap">
		INSERT INTO LBAPLCNTLIST (
			APLCNT_IDX
			, RECEIPT_DATE
			, APLCNT_BIZAREA
			, APLCNT_DEPT
			, APLCNT_CLASS
			, EMPLY_NUM
			, APLCNT_NM
			, BIRTHDAY
			, APLCNT_SEX
			, ADDR_DO
			, ADDR_SI
			, ADDR_GU
			, CONTACT_INFO
			, EMAIL
			, MARITAL_STTS
			, HIGHEST_EDU
			, MAJOR
			, CAREER_STTS
			, COMPANY1
			, COMPANY_PERIOD1
			, ASSIGNED_TASK1
			, COMPANY2
			, COMPANY_PERIOD2
			, ASSIGNED_TASK2
			, RECRUIT_SITE1
			, RECRUIT_SITE2
			, DOC_ITVW
			, PHONE_ITVW
			, PHONE_ITVW_RESULT
			, PTOP_ITVW
			, INTERVIEWER
			, ITVW_DATE
			, ITVW_TIME
			, ITVW_ATTD
			, ITVW_RESULT
			, EDU_ATTD_ITTN_STTS
			, EDU_ATTD_STTS
			, EDU_MONTH
			, EDU_DATE
			, JOB_DAY
			, PUT_DAY
			, QUIT_DAY
			, CREATOR_ID
			, MODIFIER_ID
			, BLACKLIST
		) VALUES (
			SEQ_LBAPLCNTLIST.NEXTVAL
			, #{receiptDate}
			, #{aplcntBizarea}
			, #{aplcntDept}
			, #{aplcntClass}
			, #{emplyNum}
			, #{aplcntNm}
			, #{birthday}
			, #{aplcntSex}
			, #{addrDo}
			, #{addrSi}
			, #{addrGu}
			, #{contactInfo}
			, #{email}
			, #{maritalStts}
			, #{highestEdu}
			, #{major}
			, #{careerStts}
			, #{company1}
			, #{companyPeriod1}
			, #{assignedTask1}
			, #{company2}
			, #{companyPeriod2}
			, #{assignedTask2}
			, #{recruitSite1}
			, #{recruitSite2}
			, #{docItvw}
			, #{phoneItvw}
			, #{phoneItvwResult}
			, #{ptopItvw}
			, #{interviewer}
			, #{itvwDate}
			, #{itvwTime}
			, #{itvwAttd}
			, #{itvwResult}
			, #{eduAttdIttnStts}
			, #{eduAttdStts}
			, #{eduMonth}
			, #{eduDate}
			, #{jobDay}
			, #{putDay}
			, #{quitDay}
			, #{loginId}
			, #{loginId}
			, #{blacklist}
		)
	</insert>
	<update id="updateAplcntForm" parameterType="hashmap">
	UPDATE LBAPLCNTLIST SET
		RECEIPT_DATE = #{receiptDate}
		, APLCNT_BIZAREA = #{aplcntBizarea}
		, APLCNT_DEPT = #{aplcntDept}
		, APLCNT_CLASS = #{aplcntClass}
		, EMPLY_NUM = #{emplyNum} 
		, APLCNT_NM = #{aplcntNm}
		, BIRTHDAY = #{birthday}
		, APLCNT_SEX = #{aplcntSex}
		, ADDR_DO = #{addrDo}   
		, ADDR_SI = #{addrSi}   
		, ADDR_GU = #{addrGu}
		, CONTACT_INFO = #{contactInfo}
		, EMAIL = #{email}
		, MARITAL_STTS = #{maritalStts}
		, HIGHEST_EDU = #{highestEdu}   
		, MAJOR = #{major}
		, CAREER_STTS = #{careerStts}
		, COMPANY1 = #{company1}  
		, COMPANY_PERIOD1 = #{companyPeriod1}
		, ASSIGNED_TASK1 = #{assignedTask1}
		, COMPANY2 = #{company2}
		, COMPANY_PERIOD2 = #{companyPeriod2}
		, ASSIGNED_TASK2 = #{assignedTask2}
		, RECRUIT_SITE1 = #{recruitSite1} 
		, RECRUIT_SITE2 = #{recruitSite2}
		, DOC_ITVW = #{docItvw}
		, PHONE_ITVW = #{phoneItvw}
		, PHONE_ITVW_RESULT = #{phoneItvwResult}
		, PTOP_ITVW = #{ptopItvw}
		, INTERVIEWER = #{interviewer}
		, ITVW_DATE = #{itvwDate}
		, ITVW_TIME = #{itvwTime}
		, ITVW_ATTD = #{itvwAttd}
		, ITVW_RESULT = #{itvwResult}
		, EDU_ATTD_ITTN_STTS = #{eduAttdIttnStts}
		, EDU_ATTD_STTS = #{eduAttdStts}
		, EDU_MONTH = #{eduMonth}
		, EDU_DATE = #{eduDate}      
		, JOB_DAY = #{jobDay}       
		, PUT_DAY = #{putDay}       
		, QUIT_DAY = #{quitDay}
		, CREATOR_ID = #{loginId}
		, MODIFIER_ID = #{loginId}
		, BLACKLIST = #{blacklist}
	WHERE APLCNT_IDX = #{aplcntIdx}
	</update>
	<!-- 지원자 정보 조회 -->
	<select id="selectAplcntForm" parameterType="hashmap" resultType="whashmap">
	<![CDATA[
		SELECT
			APLCNT_IDX
			, RECEIPT_DATE
			, APLCNT_BIZAREA
			, APLCNT_DEPT
			, APLCNT_CLASS
			, EMPLY_NUM
			, APLCNT_NM
			, BIRTHDAY
			, APLCNT_SEX
			, ADDR_DO
			, ADDR_SI
			, ADDR_GU
			, CONTACT_INFO
			, EMAIL
			, MARITAL_STTS
			, HIGHEST_EDU
			, MAJOR
			, CAREER_STTS
			, COMPANY1
			, COMPANY_PERIOD1
			, ASSIGNED_TASK1
			, COMPANY2
			, COMPANY_PERIOD2
			, ASSIGNED_TASK2
			, RECRUIT_SITE1
			, RECRUIT_SITE2
			, DOC_ITVW
			, PHONE_ITVW
			, PHONE_ITVW_RESULT
			, PTOP_ITVW
			, INTERVIEWER
			, ITVW_DATE
			, ITVW_TIME
			, ITVW_ATTD
			, ITVW_RESULT
			, EDU_ATTD_ITTN_STTS
			, EDU_ATTD_STTS
			, EDU_MONTH
			, EDU_DATE
			, JOB_DAY
			, PUT_DAY
			, QUIT_DAY
			, CREATOR_ID
			, CREATED_DT
			, MODIFIER_ID
			, MODIFIED_DT
			, BLACKLIST
		FROM LBAPLCNTLIST
	]]>
		WHERE APLCNT_IDX = #{aplcntIdx}
	</select>
	<select id="checkDupAplcnt" parameterType="hashmap" resultType="whashmap">
	<![CDATA[
		SELECT
			APLCNT_IDX
			, RECEIPT_DATE
			, FN_GET_BIZAREA(APLCNT_BIZAREA) APLCNT_BIZAREA
			, FN_GET_DEPT(APLCNT_DEPT) APLCNT_DEPT
			, APLCNT_CLASS
			, EMPLY_NUM
			, APLCNT_NM
			, BIRTHDAY
			, FN_CMM_NM('SEX', APLCNT_SEX) APLCNT_SEX 
			, ADDR_DO
			, ADDR_SI
			, ADDR_GU
			, CONTACT_INFO
			, EMAIL
			, FN_CMM_NM('OXSTTS', MARITAL_STTS) MARITAL_STTS 
			, FN_CMM_NM('HIGHESTEDU', HIGHEST_EDU) HIGHEST_EDU 
			, MAJOR
			, FN_CMM_NM('OXSTTS', CAREER_STTS) CAREER_STTS
			, COMPANY1
			, COMPANY_PERIOD1
			, ASSIGNED_TASK1
			, COMPANY2
			, COMPANY_PERIOD2
			, ASSIGNED_TASK2
			, FN_CMM_NM('OXSTTS', BLACKLIST) BLACKLIST
			, FN_CMM_NM('RECRUITSITE1', RECRUIT_SITE1) RECRUIT_SITE1
			, FN_CMM_NM(RECRUIT_SITE1, RECRUIT_SITE2) RECRUIT_SITE2
			, DOC_ITVW
			, PHONE_ITVW
			, PHONE_ITVW_RESULT
			, PTOP_ITVW
			, INTERVIEWER
			, ITVW_DATE
			, ITVW_TIME
			, FN_CMM_NM('ATTDSTTS', ITVW_ATTD) ITVW_ATTD
			, FN_CMM_NM('ITVWRESULT', ITVW_RESULT) ITVW_RESULT
			, FN_CMM_NM('ATTDSTTS', EDU_ATTD_ITTN_STTS) EDU_ATTD_ITTN_STTS
			, FN_CMM_NM('ATTDSTTS', EDU_ATTD_STTS) EDU_ATTD_STTS
			, EDU_MONTH
			, EDU_DATE
			, JOB_DAY
			, PUT_DAY
			, QUIT_DAY
			, CREATOR_ID
			, TO_CHAR(CREATED_DT, 'YYYYMMDD') CREATED_DT
			, MODIFIER_ID
			, TO_CHAR(MODIFIED_DT, 'YYYYMMDD') MODIFIED_DT
			, FN_CMM_NM('OXSTTS', BLACKLIST) BLACKLIST
		FROM LBAPLCNTLIST 
	]]>
		WHERE APLCNT_NM = #{aplcntNm}
			AND BIRTHDAY LIKE #{birthdayY} || '%'
			AND APLCNT_SEX = #{aplcntSex}
		ORDER BY APLCNT_IDX DESC
	</select>

	<!-- 지원자 목록 전체건수 조회 -->
	<select id="selectAplcntListTotalCount" parameterType="hashmap" resultType="whashmap">
	<![CDATA[
		SELECT
			COUNT(APLCNT_IDX) TOTAL_COUNT
		FROM LBAPLCNTLIST
		WHERE APLCNT_IDX > 0
		]]>
		<if test="srchAplcntBizarea != null and srchAplcntBizarea != ''">
			AND APLCNT_BIZAREA = #{srchAplcntBizarea}
		</if>
		<if test="srchAplcntDept != null and srchAplcntDept != ''">
			AND APLCNT_DEPT = #{srchAplcntDept}
		</if>
		<if test="srchAplcntClass != null and srchAplcntClass != ''">
			AND APLCNT_CLASS = #{srchAplcntClass}
		</if>
		<if test="srchPhoneItvwResult != null and srchPhoneItvwResult != ''">
			AND PHONE_ITVW_RESULT = #{srchPhoneItvwResult}
		</if>
		<if test="srchItvwDate != null and srchItvwDate != ''">
			AND ITVW_DATE = #{srchItvwDate}
		</if>
		<if test="srchItvwResult != null and srchItvwResult != ''">
			AND ITVW_RESULT = #{srchItvwResult}
		</if>
		<if test="srchAplcntNm != null and srchAplcntNm != ''">
			AND APLCNT_NM = #{srchAplcntNm}
		</if>
		<if test="srchBirthdayY != null and srchBirthdayY != ''">
			AND BIRTHDAY LIKE #{srchBirthdayY} || '%'
		</if>
		<if test="srchContactInfo != null and srchContactInfo != ''">
			AND CONTACT_INFO = #{srchContactInfo}
		</if>
	
	</select>
	<!-- 지원자 목록 조회 -->
	<select id="selectAplcntListPaging" parameterType="hashmap" resultType="whashmap">
	<![CDATA[
		SELECT
			* 
		FROM (
			SELECT /*+ INDEX_DESC (LBAPLCNTLIST LBAPLCNTLIST_PK) */
				ROWNUM RN
				, APLCNT_IDX
				, RECEIPT_DATE
				, FN_GET_BIZAREA(APLCNT_BIZAREA) APLCNT_BIZAREA
				, FN_GET_DEPT(APLCNT_DEPT) APLCNT_DEPT
				, APLCNT_CLASS
				, EMPLY_NUM
				, APLCNT_NM
				, BIRTHDAY
				, FN_CMM_NM('SEX', APLCNT_SEX) APLCNT_SEX 
				, FN_CMM_ADDR(ADDR_DO) ADDR_DO_NM
				, FN_CMM_ADDR(ADDR_SI) ADDR_SI_NM
				, FN_CMM_ADDR(ADDR_GU) ADDR_GU_NM
				, CONTACT_INFO
				, EMAIL
				, FN_CMM_NM('OXSTTS', MARITAL_STTS) MARITAL_STTS 
				, FN_CMM_NM('HIGHESTEDU', HIGHEST_EDU) HIGHEST_EDU 
				, MAJOR
				, FN_CMM_NM('OXSTTS', CAREER_STTS) CAREER_STTS
			, COMPANY1
				, COMPANY_PERIOD1
				, ASSIGNED_TASK1
				, COMPANY2
				, COMPANY_PERIOD2
				, ASSIGNED_TASK2
				, FN_CMM_NM('OXSTTS', BLACKLIST) BLACKLIST
				, FN_CMM_NM('RECRUITSITE1', RECRUIT_SITE1) RECRUIT_SITE1
				, FN_GET_RCS2('RECRUITSITE2', RECRUIT_SITE2, RECRUIT_SITE1) RECRUIT_SITE2
				, DOC_ITVW
				, PHONE_ITVW
				, FN_CMM_NM('PHONEITVWRESULT', PHONE_ITVW_RESULT) PHONE_ITVW_RESULT
				, PTOP_ITVW
				, INTERVIEWER
				, ITVW_DATE
				, ITVW_TIME
				, FN_CMM_NM('ATTDSTTS', ITVW_ATTD) ITVW_ATTD
				, FN_CMM_NM('ITVWRESULT', ITVW_RESULT) ITVW_RESULT
				, FN_CMM_NM('ATTDSTTS', EDU_ATTD_ITTN_STTS) EDU_ATTD_ITTN_STTS
				, FN_CMM_NM('ATTDSTTS', EDU_ATTD_STTS) EDU_ATTD_STTS
				, EDU_MONTH
				, EDU_DATE
				, JOB_DAY
				, PUT_DAY
				, QUIT_DAY
				, CREATOR_ID
				, TO_CHAR(CREATED_DT, 'YYYYMMDD') CREATED_DT
				, MODIFIER_ID
				, TO_CHAR(MODIFIED_DT, 'YYYYMMDD') MODIFIED_DT
			FROM LBAPLCNTLIST 
			WHERE 1=1
	]]>
				AND APLCNT_IDX > 0
			<if test="srchAplcntBizarea != null and srchAplcntBizarea != ''">
			AND APLCNT_BIZAREA = #{srchAplcntBizarea}
			</if>
			<if test="srchAplcntDept != null and srchAplcntDept != ''">
				AND APLCNT_DEPT = #{srchAplcntDept}
			</if>
			<if test="srchAplcntClass != null and srchAplcntClass != ''">
				AND APLCNT_CLASS = #{srchAplcntClass}
			</if>
			<if test="srchPhoneItvwResult != null and srchPhoneItvwResult != ''">
				AND PHONE_ITVW_RESULT = #{srchPhoneItvwResult}
			</if>
			<if test="srchItvwDate != null and srchItvwDate != ''">
				AND ITVW_DATE = #{srchItvwDate}
			</if>
			<if test="srchItvwResult != null and srchItvwResult != ''">
				AND ITVW_RESULT = #{srchItvwResult}
			</if>
			<if test="srchAplcntNm != null and srchAplcntNm != ''">
				AND APLCNT_NM = #{srchAplcntNm}
			</if>
			<if test="srchBirthdayY != null and srchBirthdayY != ''">
				AND BIRTHDAY LIKE #{srchBirthdayY} || '%'
			</if>
			<if test="srchContactInfo != null and srchContactInfo != ''">
				AND CONTACT_INFO = #{srchContactInfo}
			</if>
	<![CDATA[			
				AND ROWNUM <= #{page} * #{perPageNum}
		)
		WHERE RN > ((#{page}-1) * #{perPageNum})
	]]>
	</select>
</mapper>